
#title {
  background-color: black;
  color: white
}

.squares {
  color: black;
}

#desertBoard {
  display: grid;
  grid-template-columns: 6;
  grid-template-rows: 6;
}

#forestBoard {
  display: grid;
  grid-template-rows: 6;
  grid-template-columns: 6;
}
