
#title {
  background-color: black;
  color: white
}

#desertBoard {
  display: grid;
  grid-template-rows: repeat(6, 12vmin);
  grid-template-columns: repeat(6, 12vmin);
  grid-gap: 1vmin;
}

#forestBoard {
  display: grid;
  grid-template-rows: repeat(6, 12vmin);
  grid-template-columns: repeat(6, 12vmin);
  grid-gap: 1vmin;
}

.square {
  border: 2px solid salmon;
}

